<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="{% url 'create' %}">Создать пользователя</a></h1>
    <ul>
        {% for item in items %}
            <li><p>{{ item.name }}</p></li>
            <li><p>{{ item.description }}</p></li>

            <li>
                
                <button><a href="{% url 'update' item.pk %}">Edit</a></button>
                <button><a href="{% url 'delete' item.pk %}">Delete</a></button>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
